:root{
    width: 100%;
    height: 100%;
    border: 0;
}

.icon{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.table-iph{
    width: 50px;
    height: 50px;
}

body{
    background-color: #202020;
    font-family: Allura;
    font-size: 1.3rem;
    color: white;
}

header{
    height: 12vh;
    background-color: #3d0000;
    text-align: center;
    align-items: center;
    justify-content: left;
    margin-bottom: 9vh;
}

main{
    justify-content: center;
    justify-items: center;
    justify-self: center;
    margin-top: 10vh;
    width: 80%;
    font-family: 'Times New Roman';
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 20px;
}
.sub-header{
    height: 8vh;
    margin-top: 5px;
    background-color: #3d0000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Browsebar{
    width: 50%;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding-left: 15px;
}

.textarea-group {
 position: relative;
}

.textarea {
 border: solid 1.5px #9e9e9e;
 border-radius: 1rem;
 background: none;
 padding: 1rem;
 font-size: 1rem;
 color: #f5f5f5;
 transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
 position: absolute;
 left: 15px;
 color: #e8e8e8;
 pointer-events: none;
 transform: translateY(1rem);
 transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.textarea:focus, input:valid {
 outline: none;
 border: 1.5px solid #e81a1a;
}

.textarea:focus ~ label, input:valid ~ label {
 transform: translateY(-50%) scale(0.8);
 background-color: #212121;
 padding: 0 .2em;
 color: #f32121;
}

.input-group {
 position: relative;
}

.input {
 border: solid 1.5px #9e9e9e;
 border-radius: 1rem;
 background: none;
 padding: 1rem;
 font-size: 1rem;
 color: #f5f5f5;
 transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
 position: absolute;
 left: 15px;
 color: #e8e8e8;
 pointer-events: none;
 transform: translateY(1rem);
 transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid {
 outline: none;
 border: 1.5px solid #e81a1a;
}

.input:focus ~ label, input:valid ~ label {
 transform: translateY(-50%) scale(0.8);
 background-color: #212121;
 padding: 0 .2em;
 color: #f32121;
}

.w80{
    width: 100%;
    justify-self: center;
}

section.main-content{
    width: 90%;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.yrz_card{
    width: 12rem;
    height: 13rem;
    background-color: #3d0000;
    border-radius: 20px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: ease-in-out 0.3s;
}
.yrz_card:hover{
    transform: scale(1.1);
    border: 1px solid red;
    box-shadow: #ff0000 0px 5px 15px;
}

.item-name{
    font-size: 1.5em;
    margin-top: 10px;
    text-align: center;
}

.item-info{
    height: 30%;
    width: 95%;
    border-radius: 25px;
    border: 3px solid #202020;
    background-color: #3d0000;
    text-align: center;
    align-content: center;
}


.item-photo{
    height: 128px;
    width: 128px;
}

.modal-body, .modal-header, .modal-footer{
    background: #202020;
    color: white;
}
.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.modal-body ul,li{
    list-style: none;
    font-family: 'Times New Roman';
    font-size: medium;
}

#sugerencia{
    list-style: outside;
}

/*Uiverse*/

button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 font-family: inherit;
 font-size: 15px;
}

button.add-new {
 font-weight: 600;
 color: #382222;
 text-transform: uppercase;
 padding: 1.25em 2em;
 background: #fff0f0;
 border: 2px solid #b18585;
 border-radius: 0.75em;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.add-new::before {
 position: absolute;
 content: '';
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: #f9c4c4;
 border-radius: inherit;
 -webkit-box-shadow: 0 0 0 2px #b18585, 0 0.625em 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18585, 0 0.625em 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0.75em, -1em);
 transform: translate3d(0, 0.75em, -1em);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.add-new:hover {
 background: #ffe9e9;
 -webkit-transform: translate(0, 0.25em);
 transform: translate(0, 0.25em);
}

button.add-new:hover::before {
 -webkit-box-shadow: 0 0 0 2px #b18585, 0 0.5em 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18585, 0 0.5em 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0.5em, -1em);
 transform: translate3d(0, 0.5em, -1em);
}

button.add-new:active {
 background: #ffe9e9;
 -webkit-transform: translate(0em, 0.75em);
 transform: translate(0em, 0.75em);
}

button.add-new:active::before {
 -webkit-box-shadow: 0 0 0 2px #b18585, 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18585, 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0, -1em);
 transform: translate3d(0, 0, -1em);
}

.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: #202020;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}